@model  STV.Models.Member
@{
    ViewBag.Title = "HisBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1> LS Mua Hàng</h1>
    @Html.Action("BuyChap", "Member", Session["MemberID"])
</div>
<div>
    <h1> LS Nạp Tiền</h1>
    @Html.Action("LSNap", "Member", Session["MemberID"])
</div>
<div>
    <h1> LS Rút Tiền</h1>
    @Html.Action("LSRut", "Member", Session["MemberID"])
</div>
 <div>
 <h1> Tiền Bán Sách</h1>
     @Html.Action("BanS", "Member", Session["MemberID"])
 </div>



