@model IEnumerable<STV.Models.Recharge>
@foreach (var item in Model)
{

    <div class="row nowr" style="margin-left:0px;">
        <div class="bkr">
            Số Tiền Nạp:@item.Money <br>
            Ngày Nạp: @item.Deposit_date<br>
        </div>
    </div>

}

