@model IEnumerable<STV.Models.Chapter>
@{
    ViewBag.Title = "addChapter";
    Layout = "~/Views/Shared/LoginLogout.cshtml";

}

@using (Html.BeginForm("addChapter", "Author", FormMethod.Post, new
{
    @enctype =
"multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="container shadow p-2 bg-light">
        <div class="breadcum p-1">
            <a href="@Url.Action("list","Author",new { MemberID = Session["MemberID"] })">Danh sách</a> / <a href=@Url.Action("listChap","Author",new { StoryID = Session["StoryID"] })>@ViewBag.TenSach</a>
        </div>
        <div class="menu bg-light p-1">
            <span style="float: right;flex-direction: column;" class="d-grid d-md-block">
                <button class="btn btn-primary" onclick="openTxtFile()">Đăng txt</button>
            </span>

            <div style="clear: both;"></div>
        </div>
        <div class="main" id="formaddchap">
            <form id="formtmp">
                <div class="form-group">
                    <label for="ip-num">Số chương</label>
                    <input readonly="readonly" type="number" class="form-control" name="ip-num" id="ip-num" placeholder="Mã số chương" value="@ViewBag.MAX">
                </div>
                <div class="form-group">
                    <label for="ip-name">Tên chương</label>
                    <input type="text" class="form-control" id="ip-name" name="ip-name" placeholder="Tên chương">
                    <small class="form-text text-muted">Tự động nhận diện khi sửa nội dung.</small>
                </div>
                <div class="form-group">
                    <label for="ip-content">Nội dung chương</label>
                    <textarea onchange="contentChange(this.value)" style="min-height: 400px" class="form-control" id="ip-content" name="ip-content" placeholder="Nội dung chương"></textarea>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary">Đăng tải</button></div>

            </form>
        </div>
        <div style="padding: 10px;">
        </div>
    </div>
}
