
@{
    ViewBag.Title = "DoanhThu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="justify-content: center;">Nạp Tiền</h2>
@Html.Action("Nap", "QuanLy")
<h2 style="justify-content: center;">Rút Tiền</h2>
@Html.Action("Rut", "QuanLy")