
@using STV.Models
@using PagedList.Mvc
@model PagedList.PagedList<STV.Models.RutTien>
@{
    ViewBag.Title = "RutTien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container shadow p-2 bg-light">
    <div class="main">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STK Và tên TK</th>

                    <td scope="col"> Số tiền Rút</td>
                    <td scope="col"> Rút tiền </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var sach in Model)
                {

                    <tr>
                        <td>@sach.Contend</td>
                        <td>@sach.SoTien</td>
                        <td><a href="@Url.Action("RutTien", "QuanLy",new {RutTienID = sach.RutTienID})"><button type="button" class="btn btn-primary"><i class="fa-solid fa-list"></i></button></a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div>
        <div style="width:100%;text-align:center;">
            <nav style="display:inline-block;">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "QuanLy", new
{
page = page
}))
                </ul>
            </nav>
        </div>
    </div>
</div>
