@model IEnumerable<STV.Models.Comment>
@foreach (var item in Model)
{
    <div id="" style="font-size:16px;line-height:1.2;width:100%;margin-top: 16px;" data-start="0">
        <div class="flex">
            <img alt="Avatar 258" src="~/Image/@item.Reader.Member.Avatar" class="comment-avatar">
            <div class="sec" style="flex:1;margin-left:6px;">
                <div class="sec-top bg-gray">@item.Content</div>
                <div class="sec-bot">
                    <div class="ilb t-14 pv-0" style="padding:0 4px" cmtid="3035038">
                        <a style="color:#535353" href="/user/258/">@item.Reader.Name</a> -
                        @{
                            String chuoi = " ";
                            DateTime now = DateTime.Now;
                            DateTime lastUpdate = DateTime.Parse(item.PublishDate.ToString()); // Giả sử sách có một thuộc tính LastUpdate kiểu DateTime.
                            TimeSpan timeDifference = now - lastUpdate;
                            int minutesDifference = Convert.ToInt32(timeDifference.TotalMinutes);
                            int hoursDifference = Convert.ToInt32(timeDifference.TotalHours);
                            int daysDifference = Convert.ToInt32(timeDifference.TotalDays);
                            if (minutesDifference < 60)
                            {
                                chuoi = @minutesDifference + "phút trước";
                            }
                            else if (hoursDifference < 24)
                            {
                                chuoi = @hoursDifference + "Giờ trước";
                            }
                            else
                            {
                                chuoi = @daysDifference + "Ngày trước";
                            }
                        }
                 
                        <span class="timeelap t-12 t-gray">@chuoi</span> -
                        <span>Trả lời</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }

