@model IEnumerable<STV.Models.Comment>
@foreach (var item in Model)
{
    <div id="" style="font-size:16px;line-height:1.2;width:100%;margin-top: 16px;" data-start="0">
        <div class="flex">
            <img alt="Avatar 258" src="https://staticvn.sangtacvietcdn.xyz/img/useravatar120/user258.jpg?t=1696953533" class="comment-avatar">
            <div class="sec" style="flex:1;margin-left:6px;">
                <div class="sec-top bg-gray">lần đầu tiên thấy một bộ Faloo sau khi lên khung thì ra chương chậm hơn trước khi lên. Tác giả ngươi lừa đặt mua đúng không? | `Δ´)!</div>
                <div class="sec-bot">
                    <div class="ilb t-14 pv-0" style="padding:0 4px" cmtid="3035038">
                        <a style="color:#535353" href="/user/258/">Ngũ Cốc Luân Hồi Chi Chủ</a> -
                        <span class="t-12 t-gray">Đọc Đạo Đại Đế  Trung Kỳ</span> -
                        <span class="timeelap t-12 t-gray">3 ngày trước</span> -
                        <span onclick="reply('3035038',`Ngũ Cốc Luân Hồi Chi Chủ`,this,258)">Trả lời</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

