<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link rel="stylesheet" href="~/Image/fontawesome-free-6.4.2-web/css/regular.css">
    <link rel="stylesheet" href="~/Image/fontawesome-free-6.4.2-web/css/solid.css">
    <link rel="stylesheet" href="~/Image/fontawesome-free-6.4.2-web/css/v5-font-face.css">
    <link rel="stylesheet" href="~/Image/fontawesome-free-6.4.2-web/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/all.css">
    <link rel="stylesheet" href="~/Content/min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Vip.css" />
    <style type="text/css">
        .fa-download {
            min-width: 30px;
            font-size: 30px;
        }

        .cgcolor {
            font-size: 15px;
            line-height: 1.2;
            width: 25px;
            text-align: center;
        }

        .noti {
            padding: 0 6px;
            height: 60px;
            border: 1px solid #dddddd;
            margin-top: -1px;
        }

            .noti h6 {
                margin: 6px 0 0 0;
                font-size: 14px;
            }

        #searchbox {
            line-height: 2;
        }

        #commentportion .sec-bot {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .blk-item2 {
            display: block;
            font-size: 12px;
            font-weight: 600;
            padding: 10px;
            text-align: center;
        }

            .blk-item2 i {
                font-size: 30px;
            }

        .col-3 {
            padding: 0;
        }

        .blk-item2 i:after {
            content: "";
            display: block;
        }

        .nip {
            border: none;
            background-color: #eee;
            outline: none;
            padding: 4px;
            border-radius: 6px;
        }

        .nip {
            border: none;
            width: 100%;
            background: #eee;
            padding: 6px;
            border-radius: 6px;
            outline: none;
        }
    </style>
</head>

<body>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        function batvip(id,check) {
            // Kiểm tra và thực hiện hành động tùy thuộc vào trạng thái của checkbox

      
            if (check == true) {
                $.ajax({
                    url: '@Url.Action("BatVIP", "Author")' + "?chapternumber=" + id,
                    type: 'POST',
                    data: { chapternumber: id },
                    success: function () {
                        
                        alert("Bật vip cho chương thành công");
                    },
                    
                });

            }
            else
            {
                $.ajax({
                    url: '@Url.Action("TatVIP", "Author")' +"?chapternumber="+id,
                type: 'POST',
                data: { chapternumber: id },
                success: function () {
          
                    alert("Xóa vip thành công");
                },
      
                });
            }



        }
    </script>

</body>
</html>
